{% extends 'home.html' %}

{% block content %}



<div class="row"></div>

{% for doc in docs %}
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="#">
          <img src="{{ doc.docImg.url }}" alt="no image found" style="width:100%">
          <div class="caption">
            <p>Type of document   : {{ doc.docType }}</p>
            <p>Exp of document    : {{ doc.expDate}}</p>
            <p>Verification Status: {{ doc.verified}}</p>

          </div>
        </a>
      </div>
    </div>
{% endfor %}
</div> 


{% endblock %} 