<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<style>
    *
    {
        padding: 0%;
        margin: 0%;
    }
    .card
    {
        margin:5%;
        width: 90%;
        height: 40vw;
        background-color: aquamarine;
    }

    .card img
    {   
        width: 20%;
        height:50%;
        margin: 5%;
        background-color: beige;
    }
</style>
<body>
    <div class="card">
        <img src="Images/user.jpg" alt="Your Picture">
    </div>
</body>
</html>