<!-- signup.html -->

{% extends 'bootstrap.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}
<style>
	.form-group {
		width: 50%;
		padding-top: 1em;
	}
	.col{
		margin-left: 2em;
		
	}
	#signup-img{
		height: 50%;
		width: 90%;
	}
</style>
<div class="row">
	<div class="col">
		<div class="container p-5 my-5 border" style="border-top: 5px solid; background-color: lightgrey; border-radius: 20px;">
			<h1>Signup Form</h1>
			<h3>Please Fill out the below form to Register youself as a travelBuddy user</h3>
			<br>
			<form action="/SignupApp/signup/" method="POST" enctype="multipart/form">
				{% csrf_token %}
				{{ user_form|crispy }}
				{{ tmsUser_form|crispy }}
				<br>
				<input type="submit" class="btn btn-primary" value="Submit Details"></input>
			</form>
		</div>
	</div>
	<div class="col" style="margin-top:10em;">
		<img id="signup-img" src="{%static "/SignupApp/images/signupimg.png" %}" alt="">
	</div>
</div>

<h1>{{success}}</h1>


{% endblock %}
</div>

/
<!-- <div class="wrapper">
			<h2>SignUp</h2>
			<div class="w3ls-form" style>
				<form action="/SignupApp/adduserinfo/" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<label>Username</label>
					<input type="text" name="username" placeholder="Username" required/>
					<p style="color:Red">{{error5}}</p>
					<label>Password</label>
					<input type="password" name="password" placeholder="Enter Password(atleast 8 char)" required />
                    <p style="color:Red">{{error1}}</p>
                    <label>Confirm Password</label>
					<input type="password" name="cpassword" placeholder="Reenter Password" required />
                    <p style="color:Red">{{error2}}</p>
                    <label>Email Id</label>
					<input type="email" name="emailid" placeholder="Email" required />
					<p style="color:Red">{{error4}}</p>
                    <label>Mobile No</label>
					<input type="text" name="mobileno" placeholder="Mobile Number" required maxlength="10"/>
					<p style="color:Red">{{error3}}</p>
					
					<br>
					<input type="file" id="avatar" name="profile_pic" accept="image/png, image/jpeg">
                    <input type="submit" value="SignUp" />
				    <a href="/loginmodule/login/" class="pass">Already have an account?Login</a>
				</form>
            </div>
        </div>
		<br>-->